@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;1,300;1,600&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

* {
    box-sizing: border-box;
    font-family: "KoHo";
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9CAB0;
}

.home {
    width: 100vw;
    height: 80%;
    margin: auto 12vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 1fr 1fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr 1fr 0.5fr;
    gap: 3vh;
}



.home > div{
    padding: 0.7vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.home > div > p{
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
}

.home > div li{
    font-size: 1.3rem;
}

.titulo-menor{
    font-weight: 600;
    text-transform: uppercase;
    margin: 1vh;
    font-size: 1.2rem;
}

.titulo{
    font-weight: 600;
    text-transform: uppercase;
    margin: 1vh;
    font-size: 1.7rem;
}

.titulo-rodape{
    font-weight: 400;
    font-size: 1.1rem;
}

.logo{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    border: 2px solid #000326;
    background-color: #F29F80;
}

.logo h2{
    font-family: "Libre Bodoni";
    font-size: 2.8rem;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    letter-spacing: 0.2rem;
    font-weight: 1000;
}

.logo img{
    margin: 0;
    width: 80%;
    margin: 0 10%;
}

.logo .descricao{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: justify;
    padding: 0 10%;
}

.logo p:first-of-type{
    margin-top: 0
}

.intro{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botoes{
    display: flex;
    justify-content: space-around;
}

.botoes button{
    background-color: #000326;
    color: white;
    font-size: 1.3rem;
}

.bttn-voltar{
    display: none;
}

.sobre{
    display: none;
    width: 80%;
    padding: 2vh 2vw;
    border-left: 2px solid white;
    font-weight: 300;
    font-size: 1.5rem;
    
}

.palavra_dia{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 2px solid #000326;
    background-color: #D93B18
}

.numero_materias{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 2px solid #000326;
    background-color: #D93B18
}

.numero_materias .titulo-menor{
    text-align: center
}

.numero_materias p{
    margin-bottom: 2vh;
}

.esporte{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    border: 2px solid #000326;
    background-color: #000326;
    color: white;
}

.esporte p:first-of-type{
    display: none;
    font-size: 1.5rem;
    text-align: left;
    padding: 1vh 2vh;
}


.palavra_dia p:first-of-type{
    display: none;
    font-size: 1.1rem;
    text-align: left;
    padding: 0 2vh;
}

.numero_materias p:first-of-type{
    display: none;
    font-size: 1.1rem;
    text-align: left;
    padding: 0 2vh;
}

.candidatos p:first-of-type{
    display: none;
    font-size: 1.3rem;
    text-align: left;
    padding: 1vh 2vh;
}

.candidatos{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    border: 2px solid #000326;
    background-color: #D93B18;
}

.escopo {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    border: 2px solid #000326;
    background-color: #F25E3D;
}

.atualizado {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
    border: 2px solid #000326;
    background-color: #F25E3D;
}

@media (max-width: 768px) {
    .home{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 10vh;
    gap: 2vh;
    height: 95%;
    margin-bottom: 2vh;
    }
    .logo, .palavra_dia, .numero_materias, .esporte, .escopo, .candidatos, .atualizado{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .logo{
        grid-row-start: 1;
        grid-row-end: 12;
    }

    .palavra_dia{
        grid-row-start: 12;
        grid-row-end: 14;
    }

    .numero_materias{
        grid-row-start: 14;
        grid-row-end: 16;
    }

    .esporte{
        grid-row-start: 16;
        grid-row-end: 21;
    }

    .candidatos {
        grid-row-start: 21;
        grid-row-end: 25;
    }

    .escopo{
        grid-row-start: 25;
        grid-row-end: 26;
    }

    .atualizado{
        grid-row-start: 26;
        grid-row-end: 27;
    }

    .logo .descricao{
        font-size: 1.2rem;
    }

}