<!DOCTYPE html>
<html>
  <head>
    <title>{% block titulo %}{% endblock %}</title>
  </head>
  <body>
    <center>
      <font face="Cambria">
      <font color="#4B0082">
        <h1>
          {% block cabecalho %}{% endblock %}
        </h1>
      </font>
      </font><br/>
      <h2>
        <font face="Calibri">
          {% block conteudo %}{% endblock %}
      </h2>
        <p>
          {% block paragrafo %}{% endblock %}
        </p>
        </font><br/>
    </center>
  </body>
</html>
