<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <center>
      <font face="Cambria">
      <font color="#4B0082">
        <h1>
          Radar da Imprensa
        </h1>
      </font>
      </font><br/>
      <h2>
        <font face="Calibri">
          Coleto dados diários dos dois principais portais de notícias do Brasil — Uol e Globo.com — e faço análises com essas informações
      <h2/>
          <p>
            Este é um projeto feito no Master de Jornalismo de Dados, Automação e Data Storytelling do Insper
          </p>
        </font><br/>
    </center>
  </body>
</html>
