body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-inline: 10%;
    font-family: "Quicksand";
}
.titulo{
    color: darkorange;
    font-size: 20px;
}
.descricao{
    font-size: 15px;
    text-align: justify;
}
.paragrafo{
    font-size: 15px;
}
.secao{
    font-size: 17px;
    text-align: center;
}
.content-table{
    width: 100%;
    border-collapse: collapse;
    font-family: "Arial";
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.content-table thead tr{
    background-color: darkorange;
    color: white;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 15px 17px;
}
.content-table tbody tr{
    border-bottom: 1px solid #ddd;    
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid darkorange;
}