<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radar da Imprensa</title>
  <link rel="stylesheet" href="static\style_home.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <p class="titulo"><a style=color:white; href="/">Radar da Imprensa</a></p>
      </div>
      <ul class="nav-menu">
        <li><a href="/palavra_dia">Termos do dia</a></li>
        <li><a href="/ranking_candidatos">Ranking da eleição</a></li>
        <li><a href="/sobre">Sobre</a></li>
      </ul>
    </nav>
  </header>
  <div class="conteudo">
    <div class="secao">
      <h2>Termos mais mencionados nos sites</h2>
      <br>
      <p>A cada hora, o Radar da Imprensa entre nos sites de 6 jornais brasileiros (Globo, Uol, Jovem Pan, Folha, Estadão e CNN) e coleta as matérias que estão na home. 
      <br>
      <br>
      Nesta seção, você vê as palavras mais mencionadas a partir de <b>12 de maio de 2022</b>.
      </p>
        <br>
      <h3>Como funciona?</h3>
      <br>
      <p>Todos os títulos das matérias são separados em palavras, colocados em caixa baixa e, em seguida, contados. Se
        um mesmo título aparece na raspagem das 8h e das 10h, a matéria será considerada somente uma vez. Além disso, é
        feito um filtro para dar prioridade a substantivos.</p>
      <br>
      <p><b>Exemplo:</b> "Paulo Guedes come coxinha em São Paulo" = "paulo", "guedes", "coxinha", "são" e "paulo".
    </div>
    <br>
    <div class="dados-base">
      <p><b>Última atualização:</b> {{ hora }}</p>
      <br>
      <p><b>Início da coleta dos dados:</b><br> Globo — 01/01/2022<br> Uol — 01/01/2022<br>Jovem Pan —
        12/01/2022<br>Folha — 17/01/2022<br> O Globo* — 18/01/2022<br> Estadão — 31/01/2022<br> CNN - 25/02/2022</p>
      <br>
      <p>
      A coleta desses dados até 01/04/2022 está disponível <a href=https://docs.google.com/spreadsheets/d/1ckK8uhu1699pS7W_mD7zCrElSZKW7UL658_ne0EXdec/edit?usp=sharing><b>aqui</b>.</a> 
      Já os dados atuais estão <a href="https://docs.google.com/spreadsheets/d/1UY2MkXq41EBEU5AXxGDE2oVrd8rQgPcc28xWi7oHVOU/edit?usp=sharing"><b>aqui</b></a>.
    </p>
    <br>
    </div>
  </div>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col" rowspan="2">Posição</th>
        <th colspan="2">Globo</th>
        <th colspan="2">Uol</th>
      </tr>
      <tr>
        <th scope="col">Palavra</th>
        <th scope="col">Nº</th>
        <th scope="col">Palavra</th>
        <th scope="col">Nº</th>
      </tr>
    </thead>
    <tbody>
      {% for index, row in globo_uol.iterrows() %}
      {% if index != 0 %}
      <tr>
        <td>{{ index }}º</td>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endif %}
      {% endfor %}
      <br/>
    </tbody>
  </table>
  <br />
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col" rowspan="2">Posição</th>
        <th colspan="2">Jovem Pan</th>
        <th colspan="2">Folha</th>
      </tr>
      <tr>
        <th scope="col">Palavra</th>
        <th scope="col">Nº</th>
        <th scope="col">Palavra</th>
        <th scope="col">Nº</th>
      </tr>
    </thead>
    <tbody>
      {% for index, row in folha_jp.iterrows() %}
      {% if index != 0 %}
      <tr>
        <td>{{ index }}º</td>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endif %}
      {% endfor %}
      <br/>
    </tbody>
  </table>
  <br />
      <table class="content-table">
        <thead>
          <tr>
            <th scope="col" rowspan="2">Posição</th>
            <th colspan="2">Estadão</th>
            <th colspan="2">CNN</th>
          </tr>
          <tr>
            <th scope="col">Palavra</th>
            <th scope="col">Nº</th>
            <th scope="col">Palavra</th>
            <th scope="col">Nº</th>
          </tr>
        </thead>
        <tbody>
          {% for index, row in estadao_cnn.iterrows() %}
      {% if index != 0 %}
      <tr>
        <td>{{ index }}º</td>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endif %}
      {% endfor %}
          <br />
        </tbody>
      </table>
</body>

</html>
