<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;1,300;1,600&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/iprensa.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>iMprensa</title>
</head>

<body>
    <div class="home">
        <div class="logo">
            <div class="intro">
                <div class="marca">
                    <h2>iPrensa</h2>
                    <img src="../static/detalhe.svg" alt="detalhe loog">
                    <div class="descricao">
                        <p>Uma plataformar para entender melhor a impresa na web.</p>
                    </div>
                </div>
            </div>
            <div class="sobre">
                <p>Este projeto foi construido no <i>Master em Jornalismo de Dados do Insper</i>.
                    A ideia é que ele sirva como uma plataforma de análise da imprensa, bem como
                    um repositório de dados para pesquisas acadêmicas.</p>
                <p>Os dados são raspados da home dos 6 jornais diariamente, de hora em hora.</p>
                <p>Caso você tenha interesse em fazer pesquisa com os dados, solicite por e-mail
                    para <a href="mailto:victorfariassb@gmail">victorfariassb@gmail.com</a>. Você também
                    pode me encontrar no <a href="https://twitter.com/__victorfarias">Twitter</a>.
                </p>
                </p>
            </div>
        </div>
        <div class="palavra_dia">
            <div class="titulo-menor">Palavra do dia ✍️</div>
            <p>Termo mais mencionado nas principais matérias dos 6 jornais raspados. O dado é referente ao dia anterior.
            </p>
            <p>{{ palavra_dia }}</p>
        </div>
        <div class="numero_materias">
            <p>O número de matérias raspadas pelo iPrensa até hoje. Os dados começaram a ser raspados em janeiro de
                2022.</p>
            <p>{{ total_materias }}</p>
            <div class="titulo-menor">Matérias raspadas</div>
        </div>
        <div class="esporte">
            <div class="titulo">Ranking dos times ⚽</div>
            <p>A classificação leva em consideração os times mais mencionados em títulos da seção de esportes do Uol e
                da Globo.com.</p>
            <ol>
                {% for index, row in times_dados.iterrows() %}
                {% if index != 0 %}
                <li>{{ row[0] }} — {{ row[1] }}</li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class="candidatos">
            <div class="titulo">Candidatos na imprensa 🗳️</div>
            <p>Conta menções aos nomes dos candidatos em todos os sites raspados. Manchetes com o mesmo link
                raspadas 2 vezes são consideradas como 1 único ponto.</p>
                <canvas id="bar-chart"></canvas>
                {% block javascript %}
                    <script>
                    labels = JSON.parse({{ labels | tojson }})
                    data = JSON.parse({{ data | tojson }})
                    new Chart(document.getElementById("bar-chart"),{
                        "type":"bar",
                        "data":
                            //using the labels here.
                            {"labels":labels, 
                            "datasets":[{"label":"Menção aos candidatos",
                                  //using data here
                            "data":	data, 
                            "fill":true,
                            "borderColor":"rgb(255,255,255)",
                            "lineTension":0.1}]},
                        "options":{}});
                    </script>
                
                {% endblock %}
        </div>
        <div class="escopo">
            <div class="titulo-rodape"><b>SITES RASPADOS:</b> Globo, Uol, Folha, Estadão, Jovem Pan, CNN</div>
        </div>
        <div class="atualizado">
            <div class="titulo-rodape"><b>ATUALIZADO EM:</b> {{ hora }}</div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='app.js')}}"></script>
<script src='../static/app.js'></script>

</html>