<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;1,300;1,600&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/iprensa.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>iMprensa</title>
</head>
<body>
    <section class="home">
    <header>
        <h1>iMprensa</h1>
        <img src = "../elementos_graficos/detalhe.svg" alt="Detalhe logo"/>
        <p>Uma plataformar para entender melhor a impresa na web</p>
            <img class="botao_baixo" src = "../elementos_graficos/botao_baixo.svg" alt="botao de baixo"/>
    </header>
</section>
<section class="intro">
    <button>O que é isso?</button>
</section>
</body>
<script src='../app.js'></script>

</html>