<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;1,300;1,600&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/iprensa.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>iMprensa</title>
</head>

<body>
    <div class="home">
        <div class="logo">
            <h2>iPrensa</h2>
            <img src="../static/detalhe.svg" alt="detalhe loog">
            <div class="descricao">
            <p>Uma plataformar para entender melhor a impresa na web.</p>
            <p>Este projeto foi construido no Master em Jornalismo de Dados do Insper.</p>
        </div>
            <div class="botoes">
            <button>SOBRE</button>
            <button>BASE DE DADOS</button>
        </div>
        </div>
        <div class="palavra_dia">
            <div class="titulo-menor">Palavra do dia ✍️</div>
            <p>{{ palavra_dia }}</p>
        </div>
        <div class="numero_materias">
            <p>{{ total_materias }}</p>
            <div class="titulo-menor">Matérias raspadas</div>
        </div>
        <div class="esporte">
            <div class="titulo">Ranking dos times ⚽</div>
            <ol>
                {% for index, row in times_dados.iterrows() %}
                {% if index != 0 %}
                <li>{{ row[0] }}  — {{ row[1] }}</li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class="candidatos">
            <div class="titulo">Candidatos na imprensa 🗳️</div>
            <ol>
                <li>Bolsonaro: 340</li>
                <li>Lula: 230</li>
                <li>Ciro: 120</li>
            </ol>
        </div>
        <div class="escopo">
            <div class="titulo-rodape"><b>SITES RASPADOS:</b> Globo, Uol, Folha, Estadão, Jovem Pan, CNN</div>
        </div>
        <div class="atualizado">
            <div class="titulo-rodape"><b>ATUALIZADO EM:</b> {{ hora }}</div>
        </div>
    </div>
</body>
<script src='../app.js'></script>

</html>