<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\style_palavra_dia.css">
  <title>Radar da Imprensa</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <p class="titulo"><a style=color:white; href="/">Radar da Imprensa</a></p>
      </div>
        <ul class="nav-menu">
          <li><a href="/ranking_candidatos">Ranking da Eleição</a></li>
          <li><a href="/sobre">Sobre</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="conteudo">
    <div class="secao">
      <h2>Palavras do dia</h2>
    </div>
    <div class="descricao">
      <p>
        Para chegar às palavras do dia, reunimos os dados de todos os jornais no dia anterior e coletamos os termos mais
        mencionados.
        Essa busca, ao contrário das palavras mais mencionadas, é mais inteligente (não divide "Paulo" e "Guedes"), por
        exemplo.
        Além disso, leva em conta somente somente as 45 primeiras matérias (as que ficam em cima do site e que são mais
        relevantes).
      </p>
    </div>
      <p><b>A atualização acontece todo dia à 1h00</b></p>
      <br>
      </div>
    <br>
    <table class="content-table">
      <thead>
        <tr>
          <th scope="col">Posição</th>
          <th scope="col">Palavra</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        {% for index, row in palavras_dia.iterrows() %}
      {% if index != 0 %}
      <tr>
        <td>{{ index }}º</td>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
</body>
</html>
