<!DOCTYPE html>
<html>
<head>
    <title>Radar da Imprensa</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
        body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-inline: 5%;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
}
.menu{
    list-style: none;
    padding: 2px 10px;
    display: inline-block;
}
.menu li{
    position: relative;
    padding: 3px;
    float: left;
    border-right: 1px solid #c0c0c0;
}
ul li:last-child {
    border: 0px;
}
a:link{
    text-decoration: none;
    color: rgb(252, 194, 5);
    font-weight: bold;
}
.menu li a:hover{
    background: darkorange;
    color:#fff;
}
.titulo{
    color: white;
    background-color: darkorange;
    font-size: 20px;
}
.titulo-inferior{
    color: darkorange;
    font-size: 20px;
}
.descricao{
    font-size: 1em;
    text-align: justify;
    margin: 0 auto;
    max-width: 1100px;
}
.paragrafo{
    font-size: 0.9em;
}
.secao{
    font-size: 1em;
    text-align: center;
    margin: auto;
    max-width: 800px;
}
.content-table{
    width: 85%;
    border-collapse: collapse;
    font-family: "Arial";
    margin: auto auto 5px;
    font-size: 1.2em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.content-table thead tr{
    background-color: darkorange;
    color: white;
    text-align: center;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 15px 17px;
}
.content-table tbody tr{
    border-bottom: 1px solid #ddd;    
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid darkorange;
}
    </style>
</head>
<body>
    <div class="titulo">
    <h1>Radar da Imprensa</h1>
    </div>
    <nav>
      <ul class="menu">
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/palavra_dia">Palavras do dia</a></li>
          <li><a href="/sobre">Sobre</a></li>
      </ul>
    </nav>
    <div>
      <div class="secao">
        <br>
        <h2>Ranking dos pré-candidatos</h2>
        <br>
        </div>
        <div class="descricao">
        <p>Fale bem ou fale mal, mas fale de mim? As eleições estão chegando e aparecer na imprensa é importante para os pré-candidatos à Presidência.
        Nesse espírito, o <b>Radar da Imprensa</b> verifica diariamente quais pré-candidatos estão sendo mais mencionados pelos jornais.
        A análise leva em conta somente notícias novas. Ou seja, se o mesmo texto sobre o Bolsonaro permanecer na página por 5 dias, será considerado como 1 ponto.</p>
        <br>
        </div>
        <div class="secao">
        <p><b>Última atualização: </b>{{ hora }}</p>
        </div>
        <br>
        <div class="titulo-inferior">
          <br/>
            <h4>Número de menções aos pré-candidatos no <a href='https://www.uol.com.br/'>Uol</a></h4>
          </div>
          <table class="content-table">
            <thead>
              <tr>
                <th scope="col">Candidato</th>
                <th scope="col">7 dias</th>
                <th scope="col">30 dias</th>
                <th scope="col">2022</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Bolsonaro</th>
                <td>{{ semana_bolso }}</td>
                <td>{{ mes_bolso }}</td>
                <td>{{ ano_bolso }}</td>
              </tr>
              <tr>
                <th scope="row">Lula</th>
                <td>{{ semana_lula }}</td>
                <td>{{ mes_lula }}</td>
                <td>{{ ano_lula }}</td>
              </tr>
              <tr>
                <th scope="row">Moro</th>
                <td>{{ semana_moro }}</td>
                <td>{{ mes_moro }}</td>
                <td>{{ ano_moro }}</td>
              </tr>
              <tr>
                <th scope="row">Ciro</th>
                <td>{{ semana_ciro }}</td>
                <td>{{ mes_ciro }}</td>
                <td>{{ ano_ciro }}</td>
              </tr>
              <tr>
                <th scope="row">Doria</th>
                <td>{{ semana_doria }}</td>
                <td>{{ mes_doria }}</td>
                <td>{{ ano_doria }}</td>
              </tr>
              <br/>
            </tbody>
          </table>
          <div class="titulo-inferior">
                <br/>
                <h4>Número de menções aos pré-candidatos na <a href='https://www.globo.com.br/'>Globo.com</a></h4>
            <br/>
          </div>
          <table class="content-table">
            <thead>
              <tr>
                <th scope="col">Candidato</th>
                <th scope="col">7 dias</th>
                <th scope="col">30 dias</th>
                <th scope="col">2022</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Bolsonaro</th>
                <td>{{ semana_bolso_globo }}</td>
                <td>{{ mes_bolso_globo }}</td>
                <td>{{ ano_bolso_globo }}</td>
              </tr>
              <tr>
                <th scope="row">Lula</th>
                <td>{{ semana_lula_globo }}</td>
                <td>{{ mes_lula_globo }}</td>
                <td>{{ ano_lula_globo }}</td>
              </tr>
              <tr>
                <th scope="row">Moro</th>
                <td>{{ semana_moro_globo }}</td>
                <td>{{ mes_moro_globo }}</td>
                <td>{{ ano_moro_globo }}</td>
              </tr>
              <tr>
                <th scope="row">Ciro</th>
                <td>{{ semana_ciro_globo }}</td>
                <td>{{ mes_ciro_globo }}</td>
                <td>{{ ano_ciro_globo }}</td>
              </tr>
              <tr>
                <th scope="row">Doria</th>
                <td>{{ semana_doria_globo }}</td>
                <td>{{ mes_doria_globo }}</td>
                <td>{{ ano_doria_globo }}</td>
              </tr>
            </tbody>
          </table>
          <div class="titulo-inferior">
                <br/>
                <h4>Número de menções aos pré-candidatos na <a href='https://jovempan.com.br/'>Jovem Pan</a></h4>
            <br/>
          </div>
          <table class="content-table">
            <thead>
              <tr>
                <th scope="col">Candidato</th>
                <th scope="col">7 dias</th>
                <th scope="col">30 dias</th>
                <th scope="col">2022</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Bolsonaro</th>
                <td>{{ semana_bolso_jp }}</td>
                <td>{{ mes_bolso_jp }}</td>
                <td>{{ ano_bolso_jp }}</td>
              </tr>
              <tr>
                <th scope="row">Lula</th>
                <td>{{ semana_lula_jp }}</td>
                <td>{{ mes_lula_jp }}</td>
                <td>{{ ano_lula_jp }}</td>
              </tr>
              <tr>
                <th scope="row">Moro</th>
                <td>{{ semana_moro_jp }}</td>
                <td>{{ mes_moro_jp }}</td>
                <td>{{ ano_moro_jp }}</td>
              </tr>
              <tr>
                <th scope="row">Ciro</th>
                <td>{{ semana_ciro_jp }}</td>
                <td>{{ mes_ciro_jp }}</td>
                <td>{{ ano_ciro_jp }}</td>
              </tr>
              <tr>
                <th scope="row">Doria</th>
                <td>{{ semana_doria_jp }}</td>
                <td>{{ mes_doria_jp }}</td>
                <td>{{ ano_doria_jp }}</td>
              </tr>
            </tbody>
          </table>
          <div class="titulo-inferior">
                <br/>
                <h4>Número de menções aos pré-candidatos na <a href='https://www.folha.uol.com.br/'>Folha</a></h4>
            <br/>
          </div>
          <table class="content-table">
            <thead>
              <tr>
                <th scope="col">Candidato</th>
                <th scope="col">7 dias</th>
                <th scope="col">30 dias</th>
                <th scope="col">2022</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Bolsonaro</th>
                <td>{{ semana_bolso_folha }}</td>
                <td>{{ mes_bolso_folha }}</td>
                <td>{{ ano_bolso_folha }}</td>
              </tr>
              <tr>
                <th scope="row">Lula</th>
                <td>{{ semana_lula_folha }}</td>
                <td>{{ mes_lula_folha }}</td>
                <td>{{ ano_lula_folha }}</td>
              </tr>
              <tr>
                <th scope="row">Moro</th>
                <td>{{ semana_moro_folha }}</td>
                <td>{{ mes_moro_folha }}</td>
                <td>{{ ano_moro_folha }}</td>
              </tr>
              <tr>
                <th scope="row">Ciro</th>
                <td>{{ semana_ciro_folha }}</td>
                <td>{{ mes_ciro_folha }}</td>
                <td>{{ ano_ciro_folha }}</td>
              </tr>
              <tr>
                <th scope="row">Doria</th>
                <td>{{ semana_doria_folha }}</td>
                <td>{{ mes_doria_folha }}</td>
                <td>{{ ano_doria_folha }}</td>
              </tr>
            </tbody>
          </table>
            <div class="titulo-inferior">
                <br/>
                <h4>Número de menções aos pré-candidatos em <a href='https://oglobo.globo.com/'>O Globo</a></h4>
              <br/>
          </div>
          <table class="content-table">
            <thead>
              <tr>
                <th scope="col">Candidato</th>
                <th scope="col">7 dias</th>
                <th scope="col">30 dias</th>
                <th scope="col">2022</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Bolsonaro</th>
                <td>{{ semana_bolso_og }}</td>
                <td>{{ mes_bolso_og }}</td>
                <td>{{ ano_bolso_og }}</td>
              </tr>
              <tr>
                <th scope="row">Lula</th>
                <td>{{ semana_lula_og }}</td>
                <td>{{ mes_lula_og }}</td>
                <td>{{ ano_lula_og }}</td>
              </tr>
              <tr>
                <th scope="row">Moro</th>
                <td>{{ semana_moro_og }}</td>
                <td>{{ mes_moro_og }}</td>
                <td>{{ ano_moro_og }}</td>
              </tr>
              <tr>
                <th scope="row">Ciro</th>
                <td>{{ semana_ciro_og }}</td>
                <td>{{ mes_ciro_og }}</td>
                <td>{{ ano_ciro_og }}</td>
              </tr>
              <tr>
                <th scope="row">Doria</th>
                <td>{{ semana_doria_og }}</td>
                <td>{{ mes_doria_og }}</td>
                <td>{{ ano_doria_og }}</td>
              </tr>
            </tbody>
          </table>
        <br/>
        <div class="titulo-inferior">
                <br/>
                <h4>Número de menções aos pré-candidatos no <a href='https://www.estadao.com.br/'>Estadão</a></h4>
              <br/>
          </div>
          <table class="content-table">
            <thead>
              <tr>
                <th scope="col">Candidato</th>
                <th scope="col">7 dias</th>
                <th scope="col">30 dias</th>
                <th scope="col">2022</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Bolsonaro</th>
                <td>{{ semana_bolso_es }}</td>
                <td>{{ mes_bolso_es }}</td>
                <td>{{ ano_bolso_es }}</td>
              </tr>
              <tr>
                <th scope="row">Lula</th>
                <td>{{ semana_lula_es }}</td>
                <td>{{ mes_lula_es }}</td>
                <td>{{ ano_lula_es }}</td>
              </tr>
              <tr>
                <th scope="row">Moro</th>
                <td>{{ semana_moro_es }}</td>
                <td>{{ mes_moro_es }}</td>
                <td>{{ ano_moro_es }}</td>
              </tr>
              <tr>
                <th scope="row">Ciro</th>
                <td>{{ semana_ciro_es }}</td>
                <td>{{ mes_ciro_es }}</td>
                <td>{{ ano_ciro_es }}</td>
              </tr>
              <tr>
                <th scope="row">Doria</th>
                <td>{{ semana_doria_es }}</td>
                <td>{{ mes_doria_es }}</td>
                <td>{{ ano_doria_es }}</td>
              </tr>
            </tbody>
          </table>
  </body>
  </html>
